
CREATE DATABASE ITHRM
USE ITHRM
GO
/****** Object:  Table [dbo].[Applicant]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicant](
	[Applicant_id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[phoneNumer] [int] NULL,
	[email] [nvarchar](50) NULL,
	[CV] [varbinary](max) NULL,
	[gender] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[interviewDate] [date] NULL,
	[jobOffering_id] [int] NULL,
	[employee_id] [nvarchar](50) NULL,
	[department_id] [nvarchar](10) NULL,
 CONSTRAINT [PK_Applicant] PRIMARY KEY CLUSTERED 
(
	[Applicant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[employee_contractId] [int] NULL,
	[expDate] [date] NULL,
	[inspireDate] [date] NULL,
	[medicalInsurance] [float] NULL,
	[SocialAssurance] [float] NULL,
	[tax] [float] NULL,
	[employee_id] [nvarchar](10) NOT NULL,
	[contract_img] [nvarchar](500) NULL,
	[signDate] [date] NULL,
	[accidentalInsurance] [float] NULL,
	[salaryBase] [int] NULL,
	[late_day_penalty] [int] NULL,
	[overtime_day_bonus] [int] NULL,
	[absent_day_penalty] [int] NULL,
	[execuseDayOff] [int] NULL,
 CONSTRAINT [PK_contract] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayLeave]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayLeave](
	[dayleave_id] [int] NULL,
	[dayleave_title] [nvarchar](40) NULL,
	[dayleave_description] [nvarchar](100) NULL,
	[date-created] [date] NULL,
	[status] [bit] NULL,
	[username] [nvarchar](30) NULL,
	[employeeID] [nvarchar](10) NULL,
	[employeeName] [nvarchar](50) NULL,
	[timekeeping_id] [int] NOT NULL,
 CONSTRAINT [PK_DayLeave_2] PRIMARY KEY CLUSTERED 
(
	[timekeeping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[department_id] [nvarchar](10) NOT NULL,
	[department_name] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employee_id] [nvarchar](10) NOT NULL,
	[department_id] [nvarchar](10) NULL,
	[employee_name] [nvarchar](30) NULL,
	[employee_dob] [date] NULL,
	[employee_phone] [nvarchar](11) NULL,
	[datejoin] [date] NULL,
	[employee_contractId] [int] NULL,
	[age] [int] NULL,
	[gender] [bit] NULL,
	[supervison_id] [nvarchar](10) NULL,
	[employee_email] [nvarchar](30) NULL,
	[employee_address] [nvarchar](30) NULL,
	[employee_leaveDay] [date] NULL,
	[employee_photo] [varchar](500) NULL,
 CONSTRAINT [PK__employee__C52E0BA8FD2CD588] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobOffering]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobOffering](
	[jobOffering_id] [int] NOT NULL,
	[title] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
	[baseSalary] [float] NULL,
	[dateCreate] [date] NULL,
	[status] [bit] NULL,
	[maxEmployee] [int] NULL,
	[departmentID] [nvarchar](10) NULL,
 CONSTRAINT [PK_JobOffering] PRIMARY KEY CLUSTERED 
(
	[jobOffering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[report_id] [int] NOT NULL,
	[report_title] [nvarchar](40) NULL,
	[late_day] [int] NULL,
	[absent_day] [int] NULL,
	[overtime_day] [int] NULL,
	[employee_id] [nvarchar](10) NULL,
	[month] [int] NULL,
	[excused_absent_day] [int] NULL,
	[year] [int] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_DayLeave_1] PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salary]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salary](
	[salary_id] [nvarchar](50) NULL,
	[month] [smallint] NULL,
	[year] [int] NULL,
	[employee_id] [nvarchar](10) NULL,
	[report_id] [int] NOT NULL,
 CONSTRAINT [PK_salary] PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[timekeeping]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timekeeping](
	[date] [date] NOT NULL,
	[time_in] [time](7) NULL,
	[time_out] [time](7) NULL,
	[timekeeping_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[employee_id] [nvarchar](10) NULL,
	[dayleave_id] [int] NULL,
	[report_id] [int] NULL,
 CONSTRAINT [PK_timekeeping] PRIMARY KEY CLUSTERED 
(
	[timekeeping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/30/2023 10:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[employee_id] [nvarchar](10) NOT NULL,
	[username] [nvarchar](30) NULL,
	[password] [nvarchar](30) NULL,
	[roleName] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Applicant] ([Applicant_id], [name], [phoneNumer], [email], [CV], [gender], [status], [interviewDate], [jobOffering_id], [employee_id], [department_id]) VALUES (1, N'Hoàng Thế Bảo', 192382931, N'bao@gmail.com', NULL, N'1', NULL, NULL, 1, NULL, N'SD')
INSERT [dbo].[Applicant] ([Applicant_id], [name], [phoneNumer], [email], [CV], [gender], [status], [interviewDate], [jobOffering_id], [employee_id], [department_id]) VALUES (2, N'Lâm Hoàng Danh', 1829384758, N'danh@gmail.com', NULL, N'1', 1, CAST(N'2023-08-29' AS Date), 1, NULL, N'PM')
INSERT [dbo].[Applicant] ([Applicant_id], [name], [phoneNumer], [email], [CV], [gender], [status], [interviewDate], [jobOffering_id], [employee_id], [department_id]) VALUES (3, N'Hoàng Nhật Tiến', 1872390475, N'tien@gmail.com', NULL, N'1', 0, CAST(N'2023-06-01' AS Date), 1, NULL, N'UI')
GO
INSERT [dbo].[contract] ([employee_contractId], [expDate], [inspireDate], [medicalInsurance], [SocialAssurance], [tax], [employee_id], [contract_img], [signDate], [accidentalInsurance], [salaryBase], [late_day_penalty], [overtime_day_bonus], [absent_day_penalty], [execuseDayOff]) VALUES (144, CAST(N'2018-08-02' AS Date), CAST(N'2025-08-12' AS Date), 0.001, 0.008, NULL, N'PM199', NULL, CAST(N'2018-08-01' AS Date), 0.0015, 20000000, 100000, 250000, 1000000, 12)
INSERT [dbo].[contract] ([employee_contractId], [expDate], [inspireDate], [medicalInsurance], [SocialAssurance], [tax], [employee_id], [contract_img], [signDate], [accidentalInsurance], [salaryBase], [late_day_penalty], [overtime_day_bonus], [absent_day_penalty], [execuseDayOff]) VALUES (155, CAST(N'2017-01-22' AS Date), CAST(N'2023-09-18' AS Date), 0.001, 0.008, NULL, N'PM938', NULL, CAST(N'2017-01-20' AS Date), 0.0015, 10500000, 100000, 250000, 1000000, 12)
INSERT [dbo].[contract] ([employee_contractId], [expDate], [inspireDate], [medicalInsurance], [SocialAssurance], [tax], [employee_id], [contract_img], [signDate], [accidentalInsurance], [salaryBase], [late_day_penalty], [overtime_day_bonus], [absent_day_penalty], [execuseDayOff]) VALUES (223, CAST(N'2015-09-13' AS Date), CAST(N'2024-08-22' AS Date), 0.001, 0.008, NULL, N'SD009', NULL, CAST(N'2015-09-11' AS Date), 0.0015, 22300000, 100000, 250000, 1000000, 11)
GO
INSERT [dbo].[DayLeave] ([dayleave_id], [dayleave_title], [dayleave_description], [date-created], [status], [username], [employeeID], [employeeName], [timekeeping_id]) VALUES (290, N'phong nghỉ tháng 1', N'nghỉ ăn giỗ', CAST(N'2023-01-25' AS Date), 1, N'thanhphong', N'SD212', NULL, 4)
INSERT [dbo].[DayLeave] ([dayleave_id], [dayleave_title], [dayleave_description], [date-created], [status], [username], [employeeID], [employeeName], [timekeeping_id]) VALUES (200, N'nghỉ đi du lịch', N'cho em nghỉ 2 ngày', CAST(N'2023-01-26' AS Date), 1, N'thanhphong', N'SD212', NULL, 5)
INSERT [dbo].[DayLeave] ([dayleave_id], [dayleave_title], [dayleave_description], [date-created], [status], [username], [employeeID], [employeeName], [timekeeping_id]) VALUES (467, N'Nghỉ vì nhà có giỗ', N'vì quê ở xa nên em xin nghỉ ạ', CAST(N'2023-01-25' AS Date), 0, N'minhquan', N'SD009', NULL, 10)
GO
INSERT [dbo].[department] ([department_id], [department_name]) VALUES (N'PM', N'Product Management')
INSERT [dbo].[department] ([department_id], [department_name]) VALUES (N'SD', N'Software Development')
INSERT [dbo].[department] ([department_id], [department_name]) VALUES (N'SM', N'Sale and Marketing')
GO
INSERT [dbo].[employee] ([employee_id], [department_id], [employee_name], [employee_dob], [employee_phone], [datejoin], [employee_contractId], [age], [gender], [supervison_id], [employee_email], [employee_address], [employee_leaveDay], [employee_photo]) VALUES (N'SD009', N'SD', N'Minh Quân', CAST(N'2008-08-16' AS Date), N'2123532455', CAST(N'2023-01-19' AS Date), 223, 14, 1, NULL, N'minhquan123@gmail.com', N'District 1', NULL, NULL)
GO
INSERT [dbo].[JobOffering] ([jobOffering_id], [title], [description], [baseSalary], [dateCreate], [status], [maxEmployee], [departmentID]) VALUES (1, N'Tuyển DEV', N'Tuyển 12 dev', 10000000, NULL, 1, 20, N'SD')
INSERT [dbo].[JobOffering] ([jobOffering_id], [title], [description], [baseSalary], [dateCreate], [status], [maxEmployee], [departmentID]) VALUES (2, N'Tuyển Marketing', N'Tuyển 5 vị trí', 5000000, NULL, 1, 10, N'SM')
INSERT [dbo].[JobOffering] ([jobOffering_id], [title], [description], [baseSalary], [dateCreate], [status], [maxEmployee], [departmentID]) VALUES (3, N'Tuyển nhân viên vệ sinh', N'3 vị trí', 3000000, NULL, 0, 5, NULL)
GO
INSERT [dbo].[Report] ([report_id], [report_title], [late_day], [absent_day], [overtime_day], [employee_id], [month], [excused_absent_day], [year], [status]) VALUES (6, N'Báo cáo Minh tháng 1', 1, 1, 1, N'SD223', 1, 2, 2023, N'completed')
INSERT [dbo].[Report] ([report_id], [report_title], [late_day], [absent_day], [overtime_day], [employee_id], [month], [excused_absent_day], [year], [status]) VALUES (264, N'Quân báo cáo tháng 3', NULL, NULL, NULL, N'SD009', 3, NULL, 2023, NULL)
INSERT [dbo].[Report] ([report_id], [report_title], [late_day], [absent_day], [overtime_day], [employee_id], [month], [excused_absent_day], [year], [status]) VALUES (372, N'Báo cáo Phong tháng 2', NULL, NULL, NULL, N'SD212', 2, NULL, 2023, NULL)
GO
INSERT [dbo].[salary] ([salary_id], [month], [year], [employee_id], [report_id]) VALUES (N'832D8', 1, 2023, N'SD223', 6)
INSERT [dbo].[salary] ([salary_id], [month], [year], [employee_id], [report_id]) VALUES (N'9154F', 1, 2023, N'SD212', 374)
INSERT [dbo].[salary] ([salary_id], [month], [year], [employee_id], [report_id]) VALUES (N'6240B', 1, 2023, N'SD009', 475)
GO
INSERT [dbo].[timekeeping] ([date], [time_in], [time_out], [timekeeping_id], [status], [employee_id], [dayleave_id], [report_id]) VALUES (CAST(N'2023-01-01' AS Date), CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time), 1, N'on time', N'SD212', NULL, 374)
INSERT [dbo].[timekeeping] ([date], [time_in], [time_out], [timekeeping_id], [status], [employee_id], [dayleave_id], [report_id]) VALUES (CAST(N'2023-01-10' AS Date), CAST(N'09:10:00' AS Time), CAST(N'17:00:00' AS Time), 2, N'late', N'SD212', NULL, 374)
INSERT [dbo].[timekeeping] ([date], [time_in], [time_out], [timekeeping_id], [status], [employee_id], [dayleave_id], [report_id]) VALUES (CAST(N'2023-01-15' AS Date), CAST(N'09:15:00' AS Time), CAST(N'17:00:00' AS Time), 3, N'late', N'SD212', NULL, 374)
GO
INSERT [dbo].[User] ([employee_id], [username], [password], [roleName], [email], [status]) VALUES (N'PM199', N'minhdang', N'Dang@123', N'HRM', N'minhdang@gmail.com', 1)
INSERT [dbo].[User] ([employee_id], [username], [password], [roleName], [email], [status]) VALUES (N'PM938', N'camtu', N'Camtu@123', N'STAFF', N' t@gmail.com', 1)
INSERT [dbo].[User] ([employee_id], [username], [password], [roleName], [email], [status]) VALUES (N'SD009', N'minhquan', N'Quan@123', N'STAFF', N'minhquan123@gmail.com', 1)
GO
ALTER TABLE [dbo].[Applicant]  WITH CHECK ADD  CONSTRAINT [FK_department_applicant] FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([department_id])
GO
ALTER TABLE [dbo].[Applicant] CHECK CONSTRAINT [FK_department_applicant]
GO
ALTER TABLE [dbo].[DayLeave]  WITH CHECK ADD  CONSTRAINT [FK_dayleave_timekeeping] FOREIGN KEY([timekeeping_id])
REFERENCES [dbo].[timekeeping] ([timekeeping_id])
GO
ALTER TABLE [dbo].[DayLeave] CHECK CONSTRAINT [FK_dayleave_timekeeping]
GO
ALTER TABLE [dbo].[DayLeave]  WITH CHECK ADD  CONSTRAINT [FK_employee_dayleave] FOREIGN KEY([employeeID])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[DayLeave] CHECK CONSTRAINT [FK_employee_dayleave]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK__employee__depart__5441852A] FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([department_id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK__employee__depart__5441852A]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_contract] FOREIGN KEY([employee_id])
REFERENCES [dbo].[contract] ([employee_id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK_employee_contract]
GO
ALTER TABLE [dbo].[JobOffering]  WITH CHECK ADD  CONSTRAINT [FK_JobOffering] FOREIGN KEY([departmentID])
REFERENCES [dbo].[department] ([department_id])
GO
ALTER TABLE [dbo].[JobOffering] CHECK CONSTRAINT [FK_JobOffering]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeID_Report] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_EmployeeID_Report]
GO
ALTER TABLE [dbo].[salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[salary] CHECK CONSTRAINT [FK_Salary]
GO
ALTER TABLE [dbo].[salary]  WITH CHECK ADD  CONSTRAINT [FK_salary_Application] FOREIGN KEY([report_id])
REFERENCES [dbo].[Report] ([report_id])
GO
ALTER TABLE [dbo].[salary] CHECK CONSTRAINT [FK_salary_Application]
GO
ALTER TABLE [dbo].[timekeeping]  WITH CHECK ADD  CONSTRAINT [FK_timekeeping_report] FOREIGN KEY([report_id])
REFERENCES [dbo].[Report] ([report_id])
GO
ALTER TABLE [dbo].[timekeeping] CHECK CONSTRAINT [FK_timekeeping_report]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([employee_id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User]
GO
